 {
  background-image: url("/assets/back_image.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  
}